<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    tr {text-align: center;}
    th {text-align: center;}
  </style>
</head>

<body>
 
  <div class="container">
    
    <!-- Scrape button -->
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">press to launch</a></p>
    </div>

  <!-- Mars information -->
    <!--News Title and Paragraph-->
    <div class="row">
      <div class="col-md-12">
        <h2><strong>Latest Mars News</strong></h2>
        <h3 class="heading"><strong>{{mars_info.news_title}}</strong></h4>
        <p><strong>{{mars_info.news_paragraph}}</strong></p>
      </div>
    </div>
    
    <div class="row">

      <!--Surface Data-->
      <div class="col-md-6">
        <h2><strong>Featured Mars Image</strong></h2>
        <img src="{{mars_info.surface_url}}" style="width:100%;" alt="{{mars_info.surface_url}}">
      </div>
      
      <!--Fact Table-->
      <div class="col-md-6">
        <h2><strong>Mars Fact Table</strong></h2>
        <h3>{{mars_info.fact_table|safe}}</h3>
      </div>
    </div>




 
    
    


    <!--Hemisphere data-->
    <div class="row">
      <h1 style="text-align: center;"><strong>Mars Hemispheres</strong></h1>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <span class="border">
          <img src="{{mars_info.cerberus_img}}" style="width:100%;" alt="{{mars_info.cerberus_title}}">
          <h2><strong>Cerberus Hemisphere Enhanced</strong></h2>
        </span>
      </div>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <img src="{{mars_info.schiap_img}}" style="width:100%;" alt="{{mars_info.schiap_title}}">
        <h2><strong>Schiaparelli Hemisphere Enhanced</strong></h2>
      </div>

      <div class="col-md-3" style="margin-bottom: 10px;">
        <img src="{{mars_info.syrtis_img}}" style="width:100%;" alt="{{mars_info.syrtis_title}}">
        <h2><strong>Syrtis Major Hemisphere Enhanced</strong></h2>
      </div>
    
      <div class="col-md-3" style="margin-bottom: 10px;">
        <img src="{{mars_info.valles_img}}" style="width:100%;" alt="{{mars_info.valles_title}}">
        <h2><strong>Valles Marineris Hemisphere Enhanced</strong></h2>
      </div>
    </div>




  </div>

</body>

</html>

